.input {
  padding: 5px;
  margin: 20px;
  width: 300px;
  font-size: 18px;
  font-weight: 500;
}

.searchButton {
  padding-inline: 10px;
  padding-block: 5px;
  margin: 20px;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(88, 88, 88);
  font-weight: 500;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(253, 99, 43);
}

.searchButton:hover {
  background-color: rgb(253, 99, 43);
  color: rgb(255, 255, 255);
  border: 0;
}

.li {
  list-style: none;
  padding: 3px 0;
}

.link {
  padding: 5px 15px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(253, 99, 43);
  border-radius: 5px;
}

.link:hover {
  background-color: rgb(253, 99, 43);
  color: rgb(255, 255, 255);
}
.link:active {
  background-color: rgb(253, 99, 43);
  color: rgb(255, 255, 255);
}

.goBack:active {
  box-shadow: 0 0 0 1px rgb(143, 143, 143);
}

.noMatch {
  padding-inline: 20px;
  font-size: 22px;
}
