.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid silver;
}

.nav {
  display: flex;
  padding: 22px;
  gap: 40px;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  font-weight: 500;
  font-size: 22px;
  background-color: rgb(255, 255, 255);
  color: rgb(253, 99, 43);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(143, 143, 143);
}

.navLink:hover {
  background-color: rgb(253, 99, 43);
  color: rgb(255, 255, 255);
}
.navLink:active {
  background-color: rgb(253, 99, 43);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgb(143, 143, 143);
}
